header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 105vh;
    background-image: url("pics/home/home-background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#header-text {
    text-align: center;
    color: #fff;
    width: max-content;
    padding-top: 35vh;
    text-shadow: 1px 1px 0 rgb(41, 32, 23), -1px -1px 0 rgb(41, 32, 23), 1px -1px 0 rgb(41, 32, 23), -1px 1px 0 rgb(41, 32, 23);
}

#header-text h1 {
    font-size: 120px;
    font-family: 'AlexBrush';
    margin: 0;
}

/* Barre de navigation */

#navbar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgb(41, 32, 23);
}

/* Paramètrage des a */

#navbar a {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0 50px;
    font-size: 20px;
}

/* Effet de survol des a */

#navbar a:hover {
    background-color: #004daaae;
    color: #fff;
}

/* Bienvenue à Marseille */

#home_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home_title h2 {
    font-size: 50px;
    margin-top: 300px;
    background-color: #004daaae;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

#home_title p {
    width: 65%;
    font-size: 25px;
    padding-top: 100px;
    text-align: justify;
    padding-bottom: 500px;
    line-height: 1.6;
}
body {
    background-color: #000;
}

.contain {
    position: relative;
    width: 100%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.text {
    position: absolute;
    font-size: 2rem;
    top: 60%;
    left: 2%;
    color: white;
}
/*presentation of beach*/
article {
    text-align: center;
    font-family: fantasy;
    font-size: 1.5rem;
    color: aliceblue;
}

.container {
    display: flex;
    justify-content: space-around;
}

.card {
    position: relative;
    width: 200px;
    height: 400px;
    perspective: 1000px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 3s;
}

.card:hover img {
    transform: rotateY(180deg);
}

.card .info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transition: height 3s;
}

.card:hover .info {
    height: 300px;
}
/*presentation of activity content*/
.fete{
    text-align: center;
    font-size: 2rem;
    color: aliceblue;
}
.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card2 {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    width: calc(50% - 2rem);
    margin: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .card2 {
        width: calc(33.33% - 2rem);
    }
}

@media (min-width: 992px) {
    .card {
        width: calc(25% - 2rem);
    }
}

h5 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}
/*carousel*/
.carousel {
    display: flex;
    overflow: hidden;
    width: 1500px;
    height: 200px;
    border: solid whitesmoke;
    box-shadow: 0 0 10px whitesmoke, 0 0 20px whitesmoke, 0 0 30px whitesmoke, 0 0 40px whitesmoke;
margin-top: 100px;
}
.carousel img {
    width: 100%;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}
footer {
    margin-top: 30vh;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.icon {
    margin: 0 10px;
}

.icon img {
    width: 40px; /* Adjust the size of your social media icons */
    height: 40px;
}