header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 105vh;
  background-image: url("pics/home/home-background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#header-text {
  text-align: center;
  color: #fff;
  width: max-content;
  padding-top: 35vh;
  text-shadow: 1px 1px 0 rgb(41, 32, 23), -1px -1px 0 rgb(41, 32, 23), 1px -1px 0 rgb(41, 32, 23), -1px 1px 0 rgb(41, 32, 23);
}

#header-text h1 {
  font-size: 120px;
  font-family: 'AlexBrush';
  margin: 0;
}

/* Barre de navigation */

#navbar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: rgb(41, 32, 23);
}

/* Paramètrage des a */

#navbar a {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0 50px;
  font-size: 20px;
}

/* Effet de survol des a */

#navbar a:hover {
  background-color: #004daaae;
  color: #fff;
}

/* Bienvenue à Marseille */

#home_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home_title h2 {
  font-size: 50px;
  margin-top: 300px;
  background-color: #004daaae;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

#home_title p {
  width: 65%;
  font-size: 25px;
  padding-top: 100px;
  text-align: justify;
  padding-bottom: 500px;
  line-height: 1.6;
}
article{
    text-align: center;
    color: aliceblue;
    font-family: cursive;
    font-size: 1.5rem;
}
.IRP{
 text-align: center;
 font-size: 2rem;
 font-family: cursive;
 color: aliceblue;
 border: solid;
 padding: 20px;
 margin: 100px;
 background-color: #674331;
}

body{
    background-color: rgb(41, 32, 23);
}
iframe{
margin-left: 400px;
margin-right: 400px;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flex-item {
    margin: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
    width: 30%;
    background-color: #674331;
    color: beige;
}
.flex-item img {
    width: 100%;
    height: auto;
}
.card-container {
    display: flex;
    justify-content: space-between;
  }
  .card {
    position: relative;
    width: 200px;
    height: 400px;
    margin: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
    border-radius: 20px;
    background-color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba( 255, 255, 255, 0.5);  
}
  
  .card img {
    width: 100%;
    height: 40%;
    object-fit: cover;
    transition: transform .2s;
    border-radius: 10px;
  }
  
  .card img:hover {
    transform: scale(0.9);
  }
  
  .card-content {
    height: 50%;
    padding: 15px;
    font-size: 1.5rem;
  }
  
  .price {
    position: absolute;
    top: 0;
    left: 0;
    background: #065295;
    padding: 5px 10px;
    font-size: 20px;
    color: white ;
  }

  .box_top{
    padding-top: 100px;
    text-align: center;
}


.top {
    align-items: center;
    text-decoration: none;
    font-family: sans-serif;
    color: #fff;
    background: #004daaae;
    border-radius: 100px;
    padding: 10px;

  }
  
  p {
    font-size: 25px;
  }

  footer {
    margin-top: 30vh;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.icon:hover {
    transform: scale(2); /* Increase size on hover */
    transition: 0.3s;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.icon {
    margin: 0 15px;
    width: 40px; /* Adjust the size of your social media icons */
    height: 40px;
}

.box_top{
    padding-top: 100px;
    text-align: center;
}


.top {
    align-items: center;
    text-decoration: none;
    font-family: sans-serif;
    color: #fff;
    background: #004daaae;
    border-radius: 100px;
    padding: 10px;

  }
  
  p {
    font-size: 25px;
  }